.contacto{
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__fondo{
    width: 100%;
    height: 76vh;
    object-fit: cover;
    opacity: 0.15;
  }

  &__formulario{
    border: 2px solid #000;
    padding: 20px 30px;
  
    display: flex;
    flex-direction: column;
    position: absolute;

    &__contenedor{
      display: flex;
      width: 100%;
      margin: 10px 0px;
      justify-content: space-between;

      &__nombre{
        width: 250px;
        padding: 15px 6px;
   
      }
  
      &__email{
        width: 250px;
        padding: 15px 6px;
      
      }

    }

    &__asunto{
      width: 540px;
      padding: 15px 6px;
      margin: 10px 0px;
    }

    &__mensaje{
      width: 540px;
      height: 100px;
      padding: 10px 6px;
      margin: 10px 0px;
    }

    &__enviar{
      cursor: pointer;
      margin: 10px 0px;
      width: 120px;
      height: 40px;
      background-color: white;
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      cursor: pointer;
    }

    &__enviar:hover{
      background-color: #000;
      color: white;
    }
  }
}

@media screen and (max-width:682px) {

  .contacto__formulario{
    width: 70%;
    align-items: center;
  }

  .contacto__formulario__contenedor{
      display: flex;
      width: 100%;
      margin: 10px 0px;
      flex-direction: column;
  }

  .contacto__formulario__contenedor__nombre{
    width: 100%;
    margin-bottom: 20px;
  }

  .contacto__formulario__contenedor__email{
    width: 100%;
  }

  .contacto__formulario__asunto{
    width: 100%;  
  }

  .contacto__formulario__mensaje{
    width: 100%;  
  }

  .contacto__formulario__enviar{
    width: 110px;
  }

}


