.main404{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;

.titulo404{
  
  color: #ff0051;
  font-size: 50px
};

.error404{
  
  font-size: 100px;
}

.mensaje404{

  
  font-size: 27px;
  font-weight:bolder;
}

.backHome{
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;

}
}