.titulo{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 8px 15px;
}

// Estilos para la lista de Pokémon
.listado {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 15px;
  width: 100%;
}

// Estilos para las tarjetas de Pokémon
.carta_pokemon {
  background-color: #f8f4cc;
  border-radius: 10px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nombre {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .foto_pokemon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
  }

  .tipo {
    font-size: 16px;
    margin: 0;
  }
}

/* Estilos para dispositivos más pequeños */
@media only screen and (max-width: 920px) {
  .listado {
    grid-template-columns: repeat(4, 1fr); /* Cambiar a 2 columnas en dispositivos más pequeños */
  }

  .carta_pokemon {
    padding: 10px; /* Reducir el padding en dispositivos más pequeños */
  }
}

/* Estilos para dispositivos más pequeños */
@media only screen and (max-width: 750px) {
  .listado {
    grid-template-columns: repeat(3, 1fr); /* Cambiar a 2 columnas en dispositivos más pequeños */
  }

  .carta_pokemon {
    padding: 10px; /* Reducir el padding en dispositivos más pequeños */
  }
}

@media only screen and (max-width: 545px) {
  .listado {
    grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas en dispositivos más pequeños */
  }

  .carta_pokemon {
    padding: 10px; /* Reducir el padding en dispositivos más pequeños */
  }
}

/* Estilos para dispositivos aún más pequeños */
@media only screen and (max-width: 480px) {
  .listado {
    grid-template-columns: repeat(2, 1fr); /* Cambiar a 1 columna en dispositivos muy pequeños */
  }

  .carta_pokemon {
    padding: 5px; /* Reducir aún más el padding en dispositivos muy pequeños */
  }
}

@media only screen and (max-width: 336px) {
  .listado {
    grid-template-columns: repeat(1, 1fr); /* Cambiar a 1 columna en dispositivos muy pequeños */
  }

  .carta_pokemon {
    padding: 5px; /* Reducir aún más el padding en dispositivos muy pequeños */
  }
}
