.login{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  &__fondo{
    width: 100%;
    height: 85vh;
    object-fit: cover;
  }

  &__formulario{
    height: 79vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    background-color: #5868FE;

    &__banner{
      width: 100%;
      height: 28%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    &__contenedorTexto{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 15px;

      &__inicia{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 19px;
        text-align: center;
        padding-bottom: 10px;
      }
  
      &__registrate{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-decoration:none;
        color: white;
      }
    }

    &__contenedor{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;

      &__email{
        width: 80%;
        height: 50px;
        padding: 10px 6px;
        margin: 10px 0px; 
      }
  
      &__contraseña{
        width: 80%;
        height: 50px;
        padding: 10px 6px;
        margin: 10px 0px;
      }

      &__acceder{
        width: 45%;
        height: 40px;
        margin-top: 15px;
        background-color: white;
        box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
      }

      &__acceder:hover{
        border-color: white;
        background-color: #000000c3;
        color: white;
      }
    }

    &__contenedorLogo{
      display: flex;
      justify-content: center;
      padding-top: 15px;

      &__logoFondo{
        width: 40%;
      }
    }
  }
}

/* Estilos para dispositivos más pequeños */


/* Estilos para dispositivos más pequeños */
