.registro{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__fondo{
    width: 100%;
    height: 85vh;
    object-fit: cover;
  }

  &__formulario{
    height: 79vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    background-color: #5868FE;

    &__banner{
      width: 100%;
      height: 28%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    &__contenedorTexto{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 15px;

      &__registrate{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        padding-bottom: 10px;
      }
  
      &__iniciaSesion{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 12px;
        text-decoration:none;
        color: white;
      }
    }

    &__contenedor{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;

      &__nombre{
        width: 80%;
        height: 45px;
        padding: 10px 6px;
        margin: 10px 0px; 

      }

      &__email{
        width: 80%;
        height: 45px;
        padding: 10px 6px;
        margin: 10px 0px; 
      }

      &__contraseña{
        width: 80%;
        height: 45px;
        padding: 10px 6px;
        margin: 10px 0px;
      }
      
      &__registrar{
        width: 45%;
        height: 55px;
        margin-top: 15px;
        background-color: white;
        box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
      }
      &__registrar:hover{
        border-color: white;
        background-color: #000000c3;
        color: white;
      }
    }

    &__contenedorLogo{
      display: flex;
      justify-content: center;
      padding: 15px 0px;

      &__logoFondo{
        width: 40%;
      }
    }
    }
  }
  
  @media screen and (max-width: 1082px) {
    .registro__formulario{
      width: 30%;
    }
    
  }

  @media screen and (max-width: 903px) {
    .registro__formulario{
      width: 35%;
    }
    
  }

  
  @media screen and (max-width: 776px) {
    .registro__formulario{
      width: 40%;
    }
    
  }

  @media screen and (max-width: 673px) {
    .registro__formulario{
      width: 45%;
    }
    
  }

  @media screen and (max-width: 600px) {
    .registro__formulario{
      width: 50%;
    }
    
  }

  @media screen and (max-width: 540px) {
    .registro__formulario{
      width: 55%;
    }
    
  }

  @media screen and (max-width: 490px) {
    .registro__formulario{
      width: 60%;
    }

    .registro__formulario__contenedorTexto__registrate{
      font-size: 15px;
    }
    
  }

  @media screen and (max-width: 425px) {
    .registro__formulario{
      width: 65%;
    }


    
  }

  @media screen and (max-width: 394px) {
    .registro__formulario{
      width: 70%;
    }

    .registro__formulario__contenedorTexto__registrate{
      font-size: 14px;
    }

    .registro__formulario__contenedorTexto__iniciaSesion{
      font-size: 11px;
    }


    
  }


