.registro{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  &__formulario{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #5868FE;
    height: 580px;
    width: 28%;
    margin: 26px 0px;

    &__banner{
      width: 100%;
      height: 30%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    h2{
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
    }

    p{
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
      color: white;
      padding: 10px 30px;
    }

    &__contenedor{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;

      &__nombre{
        width: 80%;
        height: 50px;
        padding: 10px 6px;
        margin: 10px 0px; 

      }

      &__email{
        width: 80%;
        height: 50px;
        padding: 10px 6px;
        margin: 10px 0px; 
      }

      &__contraseña{
        width: 80%;
        height: 50px;
        padding: 10px 6px;
        margin: 10px 0px;
      }
      
      &__registrar{
        width: 45%;
        height: 50px;
        margin-top: 15px;
        background-color: white;
        box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
      }
      &__registrar:hover{
        border-color: white;
        background-color: #000000c3;
        color: white;
      }
    }

    &__contenedorLogo{
      display: flex;
      justify-content: center;
      padding: 15px 0px;

      &__logoFondo{
        width: 40%;
      }
    }
    }
  }
  


