.footer{
  background: #5868FE;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  height: 60px;

  &__politicas{
    width: 30%;
    display: flex;
    p{
      padding: 0px 10px;
      color: white;
    }
  }
 

  &__titulo{
    width: 120px;
  }

  &__contenedor{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    
    &__social{
      margin: 0px 10px;
      width: 24px;
      height: 24px;
    }
  } 

}