.principal{
  width: 100%;
  background:#5868FE;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo{
    width: 25%;
    padding: 10px 15px;

    &__pokeball{
      width: 65px;
      height: 65px;
    }
    &__titulo{
      width:150px;
      height:65px;
    }
  }

  ul{
    list-style: none;
    display: flex;
  }

  li{
    padding: 0px 15px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover{
    text-decoration: underline;
    color: black;
  }

  &__contenedor{
    width: 26%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__buscador{
        display: flex;

      &__input{
        height: 30px;
        width: 180px;
        padding: 5px;
        background-color: #5868FE;
        color: #fff;
        outline: none;
        border: 1px solid #fff;
        
      }

      &__input::placeholder{
        color: #fff;
      }
  
      &__lupa{
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        margin: 0px 2px;
        cursor: pointer;
    
      }

    }

    &__botonMenu{
      display: none;
      cursor: pointer;
    }

    &__darkMode{
      width: 37px;
      margin: 0px 18px;
      cursor: pointer;
    }

    &__login{
      width: 37px;
      cursor: pointer;
    }
  }

}

@media screen and (max-width:1169px) {
  .principal__logo{
    width: 44%;
  }

  .principal__contenedor{
    width: 45%;
  }
}

@media screen and (max-width:975px) {
  .principal ul{
    display: none;
  }

  .principal__contenedor{
    width: 55%;
  }

  .principal__contenedor__botonMenu{
    margin-left: 20px ;
    display: inline;
    width: 35px;
  }
}

@media screen and (max-width:765px) {
  .principal__contenedor__buscador__input{
    display: none;
  }

  .principal__contenedor{
    width: 50%;
  }

  .principal__logo{
    width: 50%;
  }
}

@media screen and (max-width:501px) {

  .principal__contenedor{
    width: 50%;
  }
  .principal__contenedor__botonMenu{
    width: 30px;
  }
  .principal__contenedor__login{
    width: 30px;
  }
  .principal__contenedor__darkMode{
    width: 30px;
  }

  .principal__logo{
    width: 50%;
  }

  .principal__logo__pokeball{
    width: 48px;
    height: 48px;
  }

  .principal__logo__titulo{
    width: 125px;
    height: 45px;
  }
}

@media screen and (max-width:445px) {

.principal__contenedor{
  padding: 0px;
  padding-right: 20px;
  width: 49%;
}

}

@media screen and (max-width:411px) {

  .principal__contenedor{
    padding: 0px;
    padding-right: 20px;
    width: 52%;
  }

  .principal__logo{
    width: 43%;
    padding: 10px 10px;   
  }

  .principal__logo__pokeball{
    width: 40px;
    height: 40px;
  }

  .principal__logo__titulo{
    width: 105px;
    height: 40px;
  }
  }
  


