.principal{
  width: 100%;
  background:#5868FE;
  display: flex;
  justify-content: space-between;

  &__logo{
    padding: 10px 15px;

    &__pokeball{
      width: 65px;
      height: 65px;
    }
    &__titulo{
      width:150px;
      height:65px;
    }
  }

  &__menu{
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  ul{
    list-style: none;
    display: flex;
  }

  li{
    padding: 0px 15px;
    font-size: 18px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:hover{
    text-decoration: underline;
    color: black;
  }

  &__contenedor{
    padding: 20px 20px;
    display: flex;
    align-items: flex-end;

    &__buscador{
        padding-right: 10px;
        display: flex;


      &__input{
        height: 30px;
        width: 180px;
        padding: 5px;
        outline: none;
      }
  
      &__lupa{
        width: 30px;
        height: 30px;
        border: 2px solid #000;
        margin: 0px 2px;
    
      }

    }

    &__login{

      width: 40px;
      height: 40px;
      margin-left:20px;
    }
  }

}